<div class="section">
	<div class="row">
		<div class="col s12 card-panel">
			<ul class="tabs tabs-fixed-width" style="overflow-x:hidden;">
				<li class="tab col s4"><a href="#file">文件下载</a></li>
				<li class="tab col s4"><a href="#youtube">Youtube视频</a></li>
			</ul>
		</div>
		<div class="col s12" id="file">
			<form class="col s12" action="/download/file" method="POST">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">perm_media</i>
						<input id="FileLink" name="FileLink" type="text" class="validate">
						<label for="FileLink">下载链接(文件大小限制为{{.FileSizeLimit}}M)</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">input</i>
						<input id="FileName" name="FileName" type="text">
						<label for="FileName">文件名(不填写则使用默认的文件名)</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s8">
						<i class="material-icons prefix">loyalty</i>
						<input id="FCaptcha" name="FCaptcha" type="text" class="validate">
						<label for="FCaptcha">验证码</label>
					</div>
					<div class="col s4">
						<input type="hidden" name="FCaptchaID" value="{{.CaptchaID}}" />
						<img id="FCaptchaImage" src="/captcha/{{.CaptchaID}}.png" title="验证码" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center">
						<button class="btn waves-effect green darken-2" type="submit" style="width:50%">开始下载
                    </button>
					</div>
				</div>
			</form>
		</div>
		<div class="col s12" id="youtube">
			<form class="col s12" action="/download/youtube" method="POST">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">perm_media</i>
						<input id="YFileLink" name="YFileLink" type="text" class="validate">
						<label for="YFileLink">下载链接(视频大小限制为{{.YoutubeLimit}}M)</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s8">
						<i class="material-icons prefix">loyalty</i>
						<input id="YCaptcha" name="YCaptcha" type="text" class="validate">
						<label for="YCaptcha">验证码</label>
					</div>
					<div class="col s4">
						<input type="hidden" name="YCaptchaID" value="{{.CaptchaID}}" />
						<img id="YCaptchaImage" src="/captcha/{{.CaptchaID}}.png" title="验证码" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center">
						<button class="btn waves-effect green darken-2" type="submit" style="width:50%">开始下载
                    </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>