<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>蜗牛下载</title>
    <meta name="description" content="文件下载服务" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/owl.ico" />
    <link rel="stylesheet" href="/static/libs/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="/static/libs/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css"> {{.Styles}}
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo left"><i class="material-icons">cloud_download</i>蜗牛下载</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {{.LayoutContent}}
        </div>
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2016 Lyric
                <a class="grey-text text-lighten-4 right" href="https://github.com/LyricTian/snail">github</a>
            </div>
        </div>
    </footer>
    <script src="/static/libs/json2/json2.js"></script>
    <script src="/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/libs/Materialize/dist/js/materialize.min.js"></script> {{.Scripts}}
</body>

</html>